:root {
  --main-color: #ffffff;
  --secondary-color: #49DBFF;
}

html {
  scroll-behavior: smooth;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
   background-color:  #49DBFF;
  width: 100%;

}



.container {
  width: 90%;

  margin: auto;
}




/* start header */
/* start header */
/* start header */
.header {
  background-color: #49DBFF;
}

.header .container {
  display: flex;
  justify-content: space-between;

  align-items: center;
}

.header img {
  width: 110px;
  margin: 0px;
  padding: 0px;

  animation-name: thebest;
  animation-duration: 2s;
  animation-iteration-count: infinite;

}

@keyframes thebest {
  0% {
    translate: 0 0;
  }

  50% {
    translate: 20px 0;
  }

  100% {
    translate: 0 0;
  }
}

.header .container .name {
  color: #ffffff;
  font-size: 25px;
  font-weight: 900;
  margin: 0px;
  padding: 0px;
}

.header .container .name span {
  color: var(--secondary-color);
}

@media (max-width: 768px) {
  .header {
    height: 50px;
    margin-top: -5px;
    padding-bottom: 70px;
  }

  .header img {
    width: 40px;
  }

  .header .container .name {
    font-size: 13px;
  }


}



/* start  profile */
/* start  profile */
/* start  profile */

.profile {
  text-align: center;
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
  direction: rtl;
}

.profile .image img {
  width: 200px;
  border-radius: 50%;
}

.profile .text {
  margin-top: -20px;
  font-size: 25px;
  line-height: 0.9;
}

@media (max-width: 500px) {
  .profile .text p {
    padding-top: 10px;
    font-size: 12px;
    line-height: 0.1;
  }
}

.profile .text p i {
  color: #ffffff;
}

.profile .text span {
  font-size: 30px;
  font-weight: 1000;
}

.profile .icon {
  padding-top: 35px;
  word-spacing: 15px;
}

.profile .icon i {
  font-size: 50px;
  color: #ffffff;
}

.profile .icon i:hover {
  font-size: 60px;
  color: #FFF;
}

/* start   contant */
/* start   contant */
/* start   contant */

.contant {

  padding-top: 50px;

  color: #ffffff;
  text-align: center;
  padding-bottom: 48px;
}

.contant a {
  width: 100%;
  font-size: 40px;
  font-weight: 900;
  color: #ffffff;
  text-decoration: none;
}

.contant .col span {
  display: none;
}

.contant .col {
   height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #ffffff 2px solid;
  border-radius: 100px;
  font-weight: 900;
}

.contant .col:hover span {
  display: inline;
  color: #ffffff;
}

.contant .col:hover {
  height: 50px;
  width: 110%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #ffffff 2px solid;
  border-radius: 100px;
}

.contant .col:hover i {
  color: #FFF;
}

@media (min-width: 500px) {
  .contant {
    padding-top: 30px;


    text-align: center;
    padding-bottom: 48px;
  }

  .contant .col {
    height: 50px;
    width: 65%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
  }

  .contant a {
    width: 100%;
    font-size: 29px;
    text-decoration: none;
    font-weight: 900;

  }

  .contant .col:hover {
    height: 50px;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
  }
}

@media (max-width: 500px) {
  .contant {
    padding-left: 0px;
    width: 350px;


    text-align: center;
    padding-bottom: 150px;
  }

  .contant .col {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
  }

  .contant a {
    font-size: 20px;
    text-decoration: none;
  }

  .contant .col:hover {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
  }

  .contant .col:hover span {
    display: none;
  }
}
